.logo-image img {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease;
}

/* Basic styles for the navbar */
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 10;
}

/* Styling for the nav items */
nav .nav-items {
    display: flex;
}

nav .nav-items a {
    margin-left: 20px;
    font-size: 18px;
    font-family: helvetica_bold_condensed;
    color: #241c24;
    text-decoration: none;
    transition: color 0.3s;
}

nav .nav-items a:hover {
    color: #7cff00; 
}