.t-sec {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  align-items: center;
}

.t-sec-head h2{
  font-size: 48px;
}

.t-sec-head h3{
  font-size: 16px;
  padding-bottom: 5%;
  text-align: center;
}

/* Adjust slider container classes */
.images-slider,
.reviews-slider {
  width: 50%;
  overflow: hidden;
}

.reviews-slider {
  height: 330px;
  overflow: hidden;
  align-items: center;
}

.testimonials-section {
  display: flex;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
  gap: 80px;
}

/* Add spacing to elements within each swiper-slide */
.reviews-slider .swiper-slide .name {
  margin-bottom: 20px; /* Space below the name container */
}

.reviews-slider .swiper-slide .review {
  margin-bottom: 20px; /* Space below the review container */
}

.reviews-slider .swiper-slide .other-details {
  margin-top: 20px; /* Optional: Space above the other-details container */
}

.review p {
  color: grey;
  line-height: 20px;
}


.star{
  margin-bottom: 5px;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.reviews-slider .swiper-slide {
  padding: 40px;
  background-color:  #7cfc04;
}

.navigation-arrows {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
}

.navigation-arrows .swiper-button-prev,
.navigation-arrows .swiper-button-next {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 18px;
}

.navigation-arrows .swiper-button-prev:hover,
.navigation-arrows .swiper-button-next:hover {
  background-color: #555;
}

/* Hide default Swiper navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
